<ion-content>
  <!-- Botón para agregar una nueva solicitud -->
  <div class="center-button">
    <ion-button class="add-button" shape="round" [routerLink]="['/oirs']">
      <ion-icon slot="icon-only" name="add-outline"></ion-icon>
    </ion-button>
  </div>

  <!-- Listado de solicitudes OIRS -->
  <ion-card *ngFor="let solicitud of oirsList" class="oirs-card">
    <ion-card-header>
      <ion-card-title>{{ solicitud.tipoSolicitud | uppercase}}</ion-card-title>
      <ion-card-subtitle>Fecha: {{ solicitud.fechaEnvioFormatted }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Detalle:</strong> {{ solicitud.detalles }}</p>
      <p *ngIf="solicitud.respuesta"><strong>Respuesta:</strong> {{ solicitud.respuesta }}</p>
    </ion-card-content>
  </ion-card>

  <!-- Mensaje cuando no hay solicitudes -->
  <ng-container *ngIf="oirsList.length === 0">
    <ion-card>
      <ion-card-content>
        <p>No hay solicitudes registradas.</p>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
