.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ion-toolbar {
  --background: #103116; /* Fondo del toolbar */
  --color: #fff; /* Texto del toolbar */
}

.title-container {
  text-align: center;
}

.icono-numero {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff8800;
  color: white;
  border-radius: 50%;
  width: 40px; /* Asegura que el ancho del círculo sea suficiente para dos dígitos */
  height: 40px; /* Hace el contenedor circular */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}

ion-card-title {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

ion-card-subtitle {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

ion-button img {
  width: 30px;
  height: 30px;
}

.contenidoPrincipal {
  --background: none; /* Elimina el background por defecto si es necesario */
  background-image: url(./../../../assets/fondos/fondo_paginas.jpg);
  background-size: cover; /* Ajusta la imagen para cubrir completamente el modal */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 100%; /* Asegura que el fondo cubra toda la altura */
}


div img {
  width: 100%; /* Asegura que la imagen ocupe el 100% del ancho del contenedor */
  height: 100%; /* Hace que la imagen ocupe el 100% de la altura */
  object-fit: cover; /* Escala la imagen para que llene el contenedor sin distorsionarse */
}

.custom-card {
  border-radius: 15px;
  font-family: 'Chewy', cursive;
  font-weight: 20;
  background-image: url(./../../../assets/fondos/fondoNiñoinfoAnimal.png);
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

ion-card-title {
  font-size: 1.4rem;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-bottom: 5px;
  text-align: center;
}

ion-card-subtitle {
  font-size: 1rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.904);
  padding-bottom: 5px;
}

ion-card-content {
  font-size: 1rem;
  padding: 15px;
  color: rgb(255, 255, 255);
}

/* Color verde para Disponible */
.estado-disponible {
  color: #28a745; /* Verde */
  font-weight: bold;
}

/* Color naranja para Tratamiento */
.estado-tratamiento {
  color: #fd7e14; /* Naranja */
  font-weight: bold;
}

/* Color azul para Próximamente */
.estado-proximamente {
  color: #007bff; /* Azul */
  font-weight: bold;
}

/* Fondos transparentes para elementos de la lista */
.transparent-item {
  --background: #ffffffb4 !important; /* Transparencia completa */
  --border-color: transparent !important; /* Sin bordes */
  font-size: 1rem; /* Ajuste del tamaño de texto */
  font-family: 'Work Sans', sans-serif !important; /* Fuente consistente */
  text-align: justify; /* Alineación justificada */
  // font-weight: 600 !important; /* Poner el texto en negrita */
}

/* Ajustes generales del ion-popover */
ion-popover {
  --background: transparent !important; /* Fondo transparente del popover */
  --backdrop-opacity: 0.3; /* Opacidad del fondo detrás del popover */
}

/* Estilo de las etiquetas */
ion-label {
  color: rgb(13, 78, 0) !important; /* Asegura que el texto sea blanco */
}

