<ion-content [fullscreen]="true">
  <!-- Tarjeta contenedora del formulario de inicio de sesión -->
  <ion-card class="container-login">

    <!-- Formulario que se enlaza con FormBuilder y ejecuta la función 'submit' al enviarse -->
    <form [formGroup]="form" (ngSubmit)="submit()">

      <!-- Icono de candado centrado en la parte superior -->
      <div class="ion-text-center ion-margin-vertical lock">
        <img src=".././../assets/icon/logonuevobuin.png" alt="">
      </div>

      <h1>
        ZooLife
      </h1>

<!-- Campo de entrada para el nombre -->
      <ion-item class="ion-margin" lines="none">
        <ion-input
          type="text"
          fill="solid"
          label="Nombre"
          labelPlacement="floating"
          helperText="Ingrese su nombre"
          errorText="Nombre Inválido"
          formControlName="nombre"
        ></ion-input>
      </ion-item>

      <!-- Campo de entrada para el correo electrónico -->
      <ion-item
        lines="none"
        class="ion-margin-horizontal ion-margin-top">
        <ion-input
          type="email"
          fill="solid"
          label="Correo"
          labelPlacement="floating"
          helperText="Enter a valid email"
          placeholder="Ingresa tu correo"
          errorText="* Ingresa un correo inválido"
          formControlName="email">

          <!-- Etiqueta personalizada para el campo del correo -->
          <div slot="label">Correo <ion-text color="red">*</ion-text></div>
        </ion-input>
      </ion-item>

      <!-- Campo de entrada para la contraseña -->
      <ion-item class="ion-margin" lines="none">
        <ion-input
          type="password"
          fill="solid"
          label="Contraseña"
          labelPlacement="floating"
          placeholder="Ingresa tu contraseña"
          helperText="Debe tener un 5 mínimo de caracteres"
          errorText="Contraseña inválida"
          [counter]="true"
          minlength="5"
          formControlName="password">

          <!-- Etiqueta personalizada para el campo de contraseña -->
          <div slot="label">Contraseña</div>
        </ion-input>
      </ion-item>

 <!-- Campo de entrada para el teléfono -->
      <ion-item class="ion-margin" lines="none">
        <ion-input
          type="number"
          fill="solid"
          label="Teléfono"
          [counter]="true"
          maxlength="9"
          labelPlacement="floating"
          helperText="Ingresa un número de teléfono"
          errorText="Teléfono inválido"
          formControlName="telefono"
        ></ion-input>
      </ion-item>

      <ion-item class="ion-margin" lines="none">
        <ion-input
          type="text"
          fill="solid"
          label="Patente"
          labelPlacement="floating"
          helperText="Ingresa una patente de vehículo"
          formControlName="patente"
        >
          <ion-text color="success">(Opcional)</ion-text>
        </ion-input>
      </ion-item>

      <ion-item class="ion-margin" lines="none">
        <ion-select
          formControlName="tipo"
          label="Tipo de usuario"
          placeholder="Seleccionar tipo"
          errorText="Tipo de usuario inválido"
        >
          <ion-select-option value="adulto">Adulto</ion-select-option>
          <ion-select-option value="niño">Niño</ion-select-option>
        </ion-select>
      </ion-item>


      <!-- Botón de envío del formulario para iniciar sesión -->
      <div class="ion-margin submit">
        <ion-button expand="block" size="large" [strong]="true">
          <ion-text style="text-transform: none;">Crear cuenta</ion-text>
        </ion-button>
      </div>

    </form>
  </ion-card>
</ion-content>








<!-- Encabezado translúcido -->
<!-- <ion-header [translucent]="true"> </ion-header> -->

<!-- Contenido a pantalla completa -->
<!-- <ion-content [fullscreen]="true"> -->

  <!-- Primera cuadrícula con dos filas -->
  <!--
  <ion-grid class="grid1">
    <ion-row class="row1">
      <ion-col> </ion-col>
    </ion-row>

    <ion-row class="row2">
      <ion-col> </ion-col>
    </ion-row>
  </ion-grid>
  -->

  <!-- Contenedor principal del formulario de registro -->
  <!-- <div class="container-login">
    <ion-grid>

      <ion-row>
        <ion-col>
          <h1 style="text-align: center; color: white">Registrarse</h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <form [formGroup]="form" (ngSubmit)="submit()">
            <ion-list>

              <ion-item>
                <ion-input
                  type="text"
                  fill="solid"
                  label="Nombre"
                  labelPlacement="floating"
                  helperText="Ingrese su nombre"
                  errorText="Nombre Invalido"
                  formControlName="nombre"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-input
                  type="email"
                  fill="solid"
                  label="Email"
                  labelPlacement="floating"
                  helperText="Enter a valid email"
                  errorText="Invalid email"
                  formControlName="email"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-input
                  type="password"
                  fill="solid"
                  label="Contraseña"
                  labelPlacement="floating"
                  helperText="Debe tener 5 caracteres minimo"
                  errorText="contraseña invalida"
                  [counter]="true"
                  minlength="5"
                  formControlName="password"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-input
                  type="number"
                  fill="solid"
                  label="Teléfono"
                  [counter]="true"
                  maxlength="9"
                  labelPlacement="floating"
                  helperText="Ingresa un número de teléfono"
                  errorText="Teléfono inválido"
                  formControlName="telefono"
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-input
                  type="text"
                  fill="solid"
                  label="Patente"
                  labelPlacement="floating"
                  helperText="Ingresa una patente de vehículo"
                  formControlName="patente"
                >
                  <ion-text color="success">(Opcional)</ion-text>
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-select
                  formControlName="tipo"
                  label="Tipo de usuario"
                  placeholder="Seleccionar tipo"
                  errorText="Tipo de usuario inválido"
                >
                  <ion-select-option value="adulto">Adulto</ion-select-option>
                  <ion-select-option value="niño">Niño</ion-select-option>
                </ion-select>
              </ion-item>

            </ion-list>

            <div class="botones" style="justify-content: center; text-align: center;">
              <ion-button type="submit" fill="solid" expand="full">
                Registrarse
              </ion-button>

              <ion-button fill="solid" expand="full" [routerLink]="['/']">
                Volver
              </ion-button>
            </div>

          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  -->

<!-- </ion-content> -->
