/* Estilo para el componente ion-content */
ion-content {
  --background: url(./../../assets/fondos/fondoLogin.jpg) no-repeat center center;
  --background-size: cover;
  display: flex;
  flex-direction: column; /* Alinea los elementos en columna */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  padding: 20px; /* Añade padding para evitar que toque los bordes */
  box-sizing: border-box; /* Incluye el padding en el cálculo total */
  height: 100%; /* Asegura que el ion-content ocupe toda la altura disponible */
}

/* Estilo para ion-card */
ion-card {
  width: 100%;
  max-width: 400px; /* Limita el ancho máximo del card */
  border-radius: 20px;
  box-shadow: none;
  background-color: #0041299f;
  backdrop-filter: blur(5px);
  padding: 20px; /* Padding interno para que los elementos no queden pegados */
  box-sizing: border-box; /* Incluye padding y borde en el tamaño total */
  margin: 0 auto; /* Centra horizontalmente */
}

h1 {
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
}

/* Estilos para el contenedor del login */
.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Asegura que ocupe todo el ancho del card */
  box-sizing: border-box; /* Incluye padding en el ancho total */
}

/* Ajustes para ion-item */
ion-item {
  border-radius: 15px;
  margin: 15px 0;
  --padding-start: 16px;
  --inner-padding: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
}

/* Estilo para los campos dentro de ion-item */
ion-input, ion-select, ion-datetime, ion-textarea {
  --padding-start: 16px;
  --border-radius: 15px;
}

/* Estilo para los botones QR */
.qr-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  border-radius: 20px;
  font-size: 18px;
  padding: 10px;
  transition: transform 0.2s;
  --background: linear-gradient(45deg, #ff8800, #ff5722);
  text-transform: none;
}

.qr-button:hover {
  transform: scale(1.05);
}
