/* Fondo principal */
ion-content {
  --background: none;
  background-image: url(./../../assets/fondos/fondo_paginas.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Contenedor de segmentos */
.segment-container {
  padding: 10px;
}

.glass-segment {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.puntos{
  text-align: center;
  color: rgba(255, 255, 255, 0.884);
}

/* Tarjetas translúcidas con efecto vidrio */
.glass-card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: white;
  margin-bottom: 20px;

  img {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
  }

  ion-card-title,
  ion-card-subtitle {
    text-align: center;
    font-weight: bold;
    color: beige;
  }
}

/* Botón */
ion-button {
  --background: linear-gradient(45deg, #ff8800, #ff5722);
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

/* Estilo para todos los botones del ion-segment */
ion-segment-button {
  --color: white !important; /* Texto blanco por defecto */
  --indicator-color: white !important; /* Barra blanca por defecto */
  color: white !important; /* Asegura el color del texto en navegadores más estrictos */
}

/* Cuando el botón está seleccionado */
ion-segment-button[aria-selected="true"] {
  --color: #ff8800 !important; /* Texto naranja al estar seleccionado */
  --indicator-color: #ff8800 !important; /* Barra naranja al estar seleccionado */
  color: #ff8800 !important; /* Fuerza el texto naranja */
}

/* Cuando el botón está en foco */
ion-segment-button:focus {
  --color: #ff8800 !important; /* Texto naranja al presionar */
  --indicator-color: #ff8800 !important; /* Barra naranja al presionar */
  color: #ff8800 !important; /* Refuerza el color del texto */
}

/* Contenedor de botones */
.button-container {
  display: flex; /* Activa Flexbox */
  justify-content: center; /* Centra los botones horizontalmente */
  align-items: center; /* (Opcional) Centra los botones verticalmente si tienen altura variable */
  gap: 10px; /* Espaciado entre los botones */
  margin-bottom: 10px;
}
