<ion-header>
  <ion-toolbar>
    <ion-title>Califica tu experiencia</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding rating-modal-content">
  <div class="stars-container">
    <span *ngFor="let star of stars; let i = index"
          (click)="setRating(i + 1)"
          [class.selected]="i < rating"
          class="star">
      ★
    </span>
  </div>

  <!-- Contenedor para centrar el textarea -->
  <div class="textarea-container">
    <ion-textarea placeholder="Déjanos tus comentarios" [(ngModel)]="comments"></ion-textarea>
  </div>

  <ion-button expand="full" (click)="submitRating()" class="submit-button">
    Enviar
  </ion-button>
</ion-content>
