/* Contenedor principal de los botones */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


  .title-container {
    text-align: center;
  }

  .icono-numero {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff8800;
    color: white;
    border-radius: 50%;
    width: 40px; /* Asegura que el ancho del círculo sea suficiente para dos dígitos */
    height: 40px; /* Hace el contenedor circular */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
  }

  ion-card-title {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    color: antiquewhite;
  }

  ion-card {
    margin: 15px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2); /* Fondo translúcido */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    overflow: hidden;
    padding: 15px;
    color: antiquewhite;
  }

  ion-card-subtitle {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: antiquewhite;
  }

  ion-button img {
    width: 30px;
    height: 30px;
  }

  .contenidoPrincipal {
    --background: url('./../../../assets/fondos/fondo_paginas.jpg') no-repeat center center;
    --background-size: cover;
    height: 100%;
    font-family: 'Chewy', sans-serif;
  }


  div img {
    width: 100%; /* Asegura que la imagen ocupe el 100% del ancho del contenedor */
    height: 100%; /* Hace que la imagen ocupe el 100% de la altura */
    object-fit: cover; /* Escala la imagen para que llene el contenedor sin distorsionarse */
    position: relative;
    text-align: center;
    border-radius: 20px;
  }

  .image-container {
    position: relative;
    text-align: center;
  }

  .image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
  }

  /* Fondos transparentes para listas */
ion-list {
  background: transparent !important; /* Asegura transparencia en el fondo */
  border: none !important; /* Elimina bordes */
  box-shadow: none !important; /* Elimina sombras */
  padding: 0; /* Sin espaciado extra */
}

/* Fondos transparentes para elementos de la lista */
.transparent-item {
  --background: #ffffffb4 !important; /* Transparencia completa */
  --border-color: transparent !important; /* Sin bordes */
  font-size: 1rem; /* Ajuste del tamaño de texto */
  font-family: 'Work Sans', sans-serif !important; /* Fuente consistente */
  text-align: justify; /* Alineación justificada */
  // font-weight: 600 !important; /* Poner el texto en negrita */
}

/* Ajustes generales del ion-popover */
ion-popover {
  --background: transparent !important; /* Fondo transparente del popover */
  --backdrop-opacity: 0.3; /* Opacidad del fondo detrás del popover */
}

/* Estilo de las etiquetas */
ion-label {
  color: rgb(13, 78, 0) !important; /* Asegura que el texto sea blanco */
}

