.animal-card {
  background-image: url('../../../assets/fondos/fondoListaAnimal.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  margin: 10px;
  padding: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-header {
  width: 100%;
  height: 70px; /* Ajusta esta altura según lo que necesites */
  padding: 5px 10px; /* Ajusta el espaciado interno */
  background-color: #4b4b4b;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px 0px 10px 10px; /* Ajusta los bordes inferiores */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('../../../assets/fondos/fondoListaAnimal.jpg');
}


.image-container {
  padding: 0; /* Asegúrate de que no haya padding */
  margin: 0; /* Elimina cualquier margen innecesario */
  border: none;
}


.audio-container, .video-container {
  text-align: center;
  font-family: 'Chewy';
  padding: 10px;
}


.image-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: none; /* Elimina cualquier borde */
  outline: none; /* Elimina cualquier contorno */
  display: block; /* Evita que las imágenes se comporten como elementos inline */
}

.icono-numero {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff8800;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}

.title-container {
  text-align: center;
  font-family: 'Chewy', cursive;
  color: white;
  font-size: 18px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-container {
  text-align: center;
}

.estado {
  font-size: 0.85em;
}

/* Estilos para los diferentes estados de disponibilidad */
.estado-disponible {
  color: green; /* Texto en verde para Disponible */
}

.estado-no-disponible {
  color: orange; /* Texto en naranjo para Tratamiento */
}

.estado-proximamente {
  color: rgb(222, 222, 26); /* Texto en amarillo para Proximamente */
}


ion-card-title {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(64, 20, 20); /* Cambia el color del texto a blanco */
}

ion-card-subtitle {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: rgb(64, 20, 20); /* Cambia el color del subtítulo a blanco */
}

ion-content {
  --background: none;
  background-image: url(./../../../assets/fondos/fondo-ninos-2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}


/* Estilo para los botones debajo del carrusel */
.buttons-container {
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 10px;
}

.custom-button {
  width: 100px;
  text-align: center;
  --background: #ff8800;
  --color: white;
}


swiper-container {
  --swiper-pagination-bullet-inactive-color: var(--ion-text-color-step-800, #cccccc);
  --swiper-pagination-color: var( #ffffff);
  --swiper-pagination-progressbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
  --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
  --swiper-scrollbar-drag-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
  height: 230px; /* Ajusta este valor para controlar la altura */
}

swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

}


swiper-slide img {
  width: 100%;
  height: 100%; /* Asegúrate de que la imagen ocupe toda la altura del slide */
  object-fit: cover; /* Recorta las imágenes para que cubran completamente el área del slide */
  object-position: center; /* Centra la imagen en caso de recorte */
  border-radius: 10px; /* Opcional: le da bordes redondeados a las imágenes */
}

p {
  margin-top: 5%;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  font-family: 'Chewy', cursive; /* Aplicar la fuente Chewy */
  color: #ffffff;
  font-size: 25px;
}

h2 {
  margin-top: 5%;
  margin-bottom: 0px;
  margin-right: 40px;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  font-family: 'Chewy', cursive; /* Aplicar la fuente Chewy */
  color: #ffffff;
  font-size: 25px;
  background-image: url(./../../../assets/fondos/tablatitulo.png);
}
.custom-button.one {
  color: white; /* Color del texto */
  --background: #bd4622; /* Para asegurarte de que se aplique */
  --color: white; /* Color del texto en el botón */
}

.custom-button.two {
  color: white; /* Color del texto */
  --background: #c9bd15; /* Para asegurarte de que se aplique */
  --color: white; /* Color del texto en el botón */
}

.custom-button.three {
  color: white; /* Color del texto */
  --background: #145dbd; /* Para asegurarte de que se aplique */
  --color: white; /* Color del texto en el botón */
}



.icono{
  color: white;
}

.button-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.custom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%; /* Extiende el ancho del botón */
  height: 60px; /* Ajusta la altura del botón */
  border-radius: 8px; /* Bordes redondeados */
  border: none; /* Sin borde */
  font-family: 'Work Sans', sans-serif;
}

.flora-button::part(native) {
  // background: url('https://img.freepik.com/fotos-premium/fondo-fauna-varios-animales-bosque_744040-2326.jpg') center/cover no-repeat !important;
  background-color: rgb(182, 111, 45);
  --background: none !important;
}

.fauna-button::part(native) {
  // background: url('https://img.freepik.com/fotos-premium/accidentes-geograficos-majestuosos-tierra-exploracion-fotorrealista-maravillas-naturales_767466-12109.jpg') center/cover no-repeat !important;
  background-color: rgb(62, 150, 62);
  --background: none !important;
}

.custom-button ion-icon {
  color: white; /* Asegura que el ícono sea visible */
  margin-right: 8px; /* Espaciado entre el ícono y el texto */
}


.button-text {
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.233);
  padding: 5px 10px;
  border-radius: 5px;
  font-family: 'Work Sans', sans-serif;
}

.custom-background-container {
  background-image: url('https://img.freepik.com/fotos-premium/fondo-fauna-varios-animales-bosque_744040-2320.jpg'); /* Cambia por la URL de tu imagen */
  background-size: cover; /* Ajusta la imagen para que cubra todo el área */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen */
  padding: 20px; /* Añade un padding si es necesario */
  border-radius: 4px; /* Opcional: bordes redondeados */
}

.search-overlay {
  position: absolute; /* Superpone el contenedor sobre el contenido */
  top: 100%; /* Asegura que el overlay comience justo debajo de la barra de búsqueda */
  left: 0;
  right: 0;
  z-index: 10; /* Asegura que el overlay esté en la parte superior */
  background: transparent; /* Fondo transparente */
  border: none; /* Sin bordes */
  box-shadow: none; /* Sin sombras */
  max-height: 300px; /* Limita la altura si es necesario */
  overflow-y: auto; /* Habilita el desplazamiento si hay muchos resultados */
  padding: 0; /* Elimina cualquier padding extra */
  margin: 0; /* Elimina márgenes */
  border-radius: 8px;
}

/* Ajusta los estilos de los items de la lista si es necesario */
ion-item {
  --background: transparent; /* Sin fondo en los items */
  margin: 0; /* Sin espacio entre los items */
  border: none; /* Sin bordes */
  color: #000000; /* Texto oscuro */
  font-family: 'Work Sans', sans-serif; /* Fuente consistente */
  transition: background-color 0.3s ease; /* Efecto suave al pasar el cursor */
}

/* Ajusta el contenedor de la barra de búsqueda para evitar desalineaciones */
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  background: #ffffff56;
  border-radius: 5px;
  padding: 1px;
  margin: 10px auto;
  z-index: 5;
}

ion-list {
  background: rgba(255, 255, 255, 0.5); /* Blanco semitransparente */
  backdrop-filter: blur(10px); /* Efecto de desenfoque */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}
