<link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">

<ion-content>
  <!-- Barra de búsqueda -->
  <div class="search-container">
    <ion-searchbar
      color="light"
      placeholder="Buscar atracción"
      (ionInput)="filterAnimals($event)"
      [value]="searchTerm"
    ></ion-searchbar>
    <ion-button fill="clear" (click)="toggleQrScan()">
      <img src="../../../assets/icon/qrIcon.png" alt="Escanear QR"/>
    </ion-button>
  </div>

  <div *ngIf="isScanning">
    <zxing-scanner
      (scanSuccess)="onCodeResult($event)"
      [formats]="allowedFormats"
    ></zxing-scanner>
  </div>

  <ion-list *ngIf="filteredAnimals.length > 0">
    <ion-item *ngFor="let animal of filteredAnimals" (click)="goToAnimal(animal.id)">
      {{ animal.nombre_comun }}
    </ion-item>
  </ion-list>

  <ion-item *ngIf="filteredAnimals.length === 0 && searchTerm">
    <ion-label>No se encontraron resultados</ion-label>
  </ion-item>

  <!-- Carrusel de imágenes -->
  <!-- <swiper-container [pagination]="true" [loop]="true" [autoplay]="{ delay: 3000 }" effect="cards">
    <swiper-slide *ngFor="let imagen of imagenes">
      <img [src]="imagen" alt="Imagen de animal" />
    </swiper-slide>
  </swiper-container> -->

  <!-- Botones debajo del carrusel -->
  <!-- <div class="buttons-container">
    <ion-button fill="solid" class="custom-button one" color="primary">
      <img src="./../../../assets/icon/especieninoicon.png" alt="" />
    </ion-button>
    <ion-button fill="solid" class="custom-button two" color="primary">
      <img src="./../../../assets/icon/rutasugeridanino.png" alt="" />
    </ion-button>
    <ion-button fill="solid" class="custom-button three" color="primary">
      <img src="./../../../assets/icon/areaninoicon.png" alt="" />
    </ion-button>
  </div> -->

  <!-- Mapa -->
  <div *ngIf="mapa.length > 0">
    <img [src]="mapa[0].imagen" alt="" />
  </div>

  <!-- Listado de animales -->
  <ion-list *ngIf="filteredAnimals.length > 0">
    <ion-item *ngFor="let animal of filteredAnimals" (click)="goToAnimal(animal.id)">
      {{ animal.nombre_comun }}
    </ion-item>
  </ion-list>

  <ion-item *ngIf="filteredAnimals.length === 0 && searchTerm">
    <ion-label>No se encontraron resultados</ion-label>
  </ion-item>

  <ion-card *ngFor="let animal of animales" class="animal-card">
    <div class="image-container">
      <img
        alt="{{ animal.nombre_comun }}"
        src="{{ animal.imagen }}"
        [routerLink]="['/animal-info-nino', animal.id]"
      />
      <div class="icono-numero">{{ animal.posicion_mapa }}</div>
    </div>
    <ion-card-header class="card-header">
      <div class="header-content">
        <ion-button fill="clear" (click)="like(animal.id)">
          <img
            [src]="animal.reaccion === true
                    ? '../../../assets/icon/likeVerde.png'
                    : '../../../assets/icon/likeNegro.png'"
            alt="Me gusta"
          />
        </ion-button>

        <div class="title-container">
          <ion-card-title>{{ animal.nombre_comun }}</ion-card-title>
        </div>

        <ion-button fill="clear" (click)="dontLike(animal.id)">
          <img
            [src]="animal.reaccion === false
                    ? '../../../assets/icon/dislikeRojo.png'
                    : '../../../assets/icon/dislikeNegro.png'"
            alt="No me gusta"
          />
        </ion-button>
      </div>
    </ion-card-header>
  </ion-card>

</ion-content>
