<link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">

<ion-content>
  <!-- Barra de búsqueda -->
  <div class="search-container">
    <ion-searchbar
      color="light"
      placeholder="Buscar atracción"
      (ionInput)="filterAnimals($event)"
      [value]="searchTerm"
    ></ion-searchbar>
    <ion-button fill="clear" (click)="toggleQrScan()">
      <img src="../../../assets/icon/qrIcon.png" alt="Escanear QR"/>
    </ion-button>
  </div>

  <div *ngIf="isScanning">
    <zxing-scanner
      [formats]="allowedFormats"
    ></zxing-scanner>
  </div>

  <ion-list *ngIf="filteredAnimals.length > 0">
    <ion-item *ngFor="let animal of filteredAnimals" (click)="goToAnimal(animal.id)">
      {{ animal.nombre_comun }}
    </ion-item>
  </ion-list>

  <ion-item *ngIf="filteredAnimals.length === 0 && searchTerm">
    <ion-label>No se encontraron resultados</ion-label>
  </ion-item>

  <!-- Mapa -->
  <div *ngIf="mapa.length > 0">
    <img [src]="mapa[0].imagen" alt="" />
  </div>

  <!-- Listado de animales -->
  <ion-list *ngIf="filteredAnimals.length > 0">
    <ion-item *ngFor="let animal of filteredAnimals" (click)="goToAnimal(animal.id)">
      {{ animal.nombre_comun }}
    </ion-item>
  </ion-list>

  <ion-item *ngIf="filteredAnimals.length === 0 && searchTerm">
    <ion-label>No se encontraron resultados</ion-label>
  </ion-item>

  <ion-card *ngFor="let animal of animales" class="animal-card">
    <div class="image-container">
      <!-- Mostrar la imagen si el video no está visible -->
      <img
        *ngIf="!animal.mostrarVideo"
        alt="{{ animal.nombre_comun }}"
        src="{{ animal.imagen }}"
        (click)="toggleVideo(animal)"
      />

      <!-- Mostrar el video si el video está visible -->
      <video
        *ngIf="animal.mostrarVideo"
        width="100%"
        height="auto"
        controls
        autoplay
        (click)="toggleVideo(animal)"
        (ended)="videoEnded(animal)"
      >
        <source [src]="animal.video" type="video/mp4" />
        Tu navegador no soporta la reproducción de video.
      </video>

      <div class="icono-numero">{{ animal.posicion_mapa }}</div>
    </div>
    <ion-card-header class="card-header">
      <div class="header-content">
        <ion-button fill="clear" (click)="like(animal.id)">
          <img
            [src]="animal.reaccion === true
                    ? '../../../assets/icon/likeVerde.png'
                    : '../../../assets/icon/likeNegro.png'"
            alt="Me gusta"
          />
        </ion-button>

        <div class="title-container">
          <ion-card-title>{{ animal.nombre_comun }}</ion-card-title>
        </div>

        <ion-button fill="clear" (click)="dontLike(animal.id)">
          <img
            [src]="animal.reaccion === false
                    ? '../../../assets/icon/dislikeRojo.png'
                    : '../../../assets/icon/dislikeNegro.png'"
            alt="No me gusta"
          />
        </ion-button>
      </div>
    </ion-card-header>

    <div class="audio-container" *ngIf="animal.audio">
      <ion-card-subtitle>Audio Explicativo</ion-card-subtitle>
      <audio controls>
        <source [src]="animal.audio" type="audio/mp3" />
        Tu navegador no soporta la reproducción de audio.
      </audio>
    </div>
    <div class="audio-container" *ngIf="animal.audioAnimal">
      <ion-card-subtitle>Audio Animal</ion-card-subtitle>
      <audio controls>
        <source [src]="animal.audioAnimal" type="audio/mp3" />
        Tu navegador no soporta la reproducción de audio.
      </audio>
    </div>
  </ion-card>
</ion-content>
