<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button default-href="/adulto/inicio" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="contenidoPrincipal">
  <ng-container *ngIf="evento$ | async as evento; else loading">
    <ion-card>
      <div>
        <img alt="Silhouette of mountains" src="{{evento.imagen}}" />
      </div>

      <ion-card-header>
        <div class="header-content">
          <div class="title-container">
            <ion-card-title>{{ evento.nombre_evento }}</ion-card-title>

          </div>
        </div>
      </ion-card-header>

      <ion-card-content>
        <p><strong>Descripción: </strong>{{ evento.descripcion }}</p>
        <p><strong>Fecha inicio :</strong> {{ evento.fecha_inicio }} a las {{evento.hora_inicio}}</p>
        <p><strong>Fecha termini: </strong>{{ evento.fecha_termino }} a las {{evento.hora_termino}}</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Contenido multimedia</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ng-container >
          <ion-card-subtitle>Audio explicativo</ion-card-subtitle>
          <audio controls>
            <source type="audio/mp3" />
            Tu navegador no soporta la reproducción de audio.
          </audio>
        </ng-container>
        <ng-template #noAudio>
          <p>No hay audio disponible para este animal.</p>
        </ng-template>


      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #loading>
    <ion-card>
      <ion-card-content>
        <p>Cargando información del animal...</p>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
