@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

ion-content {
  --background: none;
  background-image: url(./../../../assets/fondos/fondo_paginas.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Work Sans', sans-serif;
}

ion-card {
  background-image: url(./../../../assets/fondos/fondocardinfo2.png);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

ion-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

p {
  color: rgb(78, 41, 5);
  font-family: 'Chewy', cursive;
  line-height: 1.5;
  margin-bottom: 10px;
}

ion-card-content {
  padding: 15px;
  border-radius: 10px;
}

.image-container {
  display: flex; /* Activa flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 200px; /* Altura fija */
  width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
  overflow: hidden; /* Oculta partes sobrantes de la imagen */
  position: relative; /* Asegura que la posición sea relativa */
  padding: 10px; /* Margen interno opcional */
}

.image-container img {
  width: auto; /* Permite que la imagen mantenga su proporción */
  height: 100%; /* La imagen ocupará toda la altura del contenedor */
  object-fit: cover; /* Se ajustará al área disponible sin distorsionarse */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
  display: block; /* Elimina el espacio extra de inline-block */
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.title-container {
  text-align: center;
  color: rgb(78, 41, 5);
}

ion-card-title {
  margin: 10px 0;
  font-size: 1.6rem;
  font-weight: bold;
  color: rgb(78, 41, 5);
  font-family: 'Chewy', cursive;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

ion-toolbar {
  --background: #103116;
  --color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ion-back-button {
  --color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
}

ion-back-button:hover {
  color: #ff8800;
  transform: scale(1.1);
}
