<ion-content>
  <!-- Contenedor que verifica si hay premios -->
  <ng-container *ngIf="premiosDetallados.length > 0; else noPremios">
    <ion-card *ngFor="let premio of premiosDetallados">
      <img [alt]="premio.nombre" [src]="premio.imagen || 'https://ionicframework.com/docs/img/demos/card-media.png'" />
      <ion-card-header>
        <ion-card-title>{{ premio.nombre }}</ion-card-title>
        <ion-card-subtitle>¡Felicidades! Alcanzaste los {{ premio.puntos_necesarios }} puntos.</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{ premio.descripcion }}
      </ion-card-content>
      <div class="button-container">
        <ion-button fill="clear" >
          Reclamar Premio
        </ion-button>
      </div>
    </ion-card>
  </ng-container>

  <!-- Template que se muestra si no hay premios -->
  <ng-template #noPremios>
    <ion-card class="no-premios">
      <img alt="panda rojo" src="../../assets/fondos/imagenSinPremios.jpg" />
      <ion-card-header>
        <ion-card-title>¡Aún no tienes premios!</ion-card-title>
        <ion-card-subtitle>Participa en las trivias</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Parece que todavía no has ganado ningún premio. Responde las trivias disponibles para acumular puntos y desbloquear recompensas exclusivas. ¡Comienza ahora y demuestra cuánto sabes!
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
