<ion-content>
  <div class="search-container">
    <ion-searchbar
      color="light"
      placeholder="Buscar atracción"
      (ionInput)="filterAnimals($event)"
      [value]="searchTerm"
    ></ion-searchbar>
    <ion-button fill="clear" (click)="toggleQrScan()">
      <img src="../../../assets/icon/icons8-qr-48.png" alt="Escanear QR"/>
    </ion-button>
  </div>

<!-- Mostrar el escáner solo si está activado -->
<div *ngIf="isScanning">
  <zxing-scanner
    (scanSuccess)="onCodeResult($event)"
    [formats]="allowedFormats"
  ></zxing-scanner>
</div>

  <ion-list *ngIf="filteredAnimals.length > 0">
    <ion-item *ngFor="let animal of filteredAnimals" (click)="goToAnimal(animal.id)">
      {{ animal.nombre_comun }}
    </ion-item>
  </ion-list>

  <ion-item *ngIf="filteredAnimals.length === 0 && searchTerm">
    <ion-label>No se encontraron resultados</ion-label>
  </ion-item>

    <!-- Carrusel de imágenes -->

    <swiper-container
      [pagination]="true"
      [loop]="true"
      [autoplay]="{ delay: 3000 }"
      effect="cards"
    >
      <swiper-slide *ngFor="let imagen of imagenes">
        <img [src]="imagen" alt="Imagen de animal" />
      </swiper-slide>
    </swiper-container>
    <br>

    <!-- Botones debajo del carrusel -->
    <div class="buttons-container">
      <div class="button-item">
        <ion-button fill="solid" class="custom-button">
          <img src="../../../assets/icon/rutaIcon.png" alt="Huella Icon" />
        </ion-button>
        <p class="button-text">Ruta sugerida</p>
      </div>

      <div class="separator-text">
        <h3>Mostrar por</h3>
      </div>
    
      <div class="button-item">
        <ion-button fill="solid" class="custom-button">
          <img src="../../../assets/icon/huellaIcon.png" alt="Huella Icon" />
        </ion-button>
        <p class="button-text">Especie</p>
      </div>
    </div>
  

  <!-- Listado de animales -->



  <div class="listado-animales">
    <div class="header-container">
      <h2>Lista de animales</h2>
    </div>
    <ion-list *ngIf="filteredAnimals.length > 0">
      <ion-item
        *ngFor="let animal of filteredAnimals"
        (click)="goToAnimal(animal.id)"
      >
        {{ animal.nombre_comun }}
      </ion-item>
    </ion-list>

    <ion-item *ngIf="filteredAnimals.length === 0 && searchTerm">
      <ion-label>No se encontraron resultados</ion-label>
    </ion-item>

    <ion-card *ngFor="let animal of animales" class="animal-card">
      <div class="image-container">
        <img
          alt="{{animal.nombre_comun}}"
          src="{{animal.imagen}}"
          [routerLink]="['/animal-info', animal.id]"
        />
        <div class="icono-numero">{{ animal.posicion_mapa }}</div>
      </div>
      <ion-card-header class="card-header">
        <div class="header-content">
          <ion-button fill="clear" (click)="like(animal.id)">
            <img
              [src]="animal.reaccion === true ? '../../../assets/icon/likeVerde.png' : '../../../assets/icon/likeNegro.png'"
              alt="Me gusta"
            />
          </ion-button>

          <div class="title-container">
            <ion-card-title>{{ animal.nombre_comun }}</ion-card-title>
            <ion-card-subtitle
              class="estado"
              [ngClass]="{
                'estado-disponible': animal.disponibilidad === 'Disponible',
                'estado-no-disponible': animal.disponibilidad === 'Tratamiento',
                'estado-proximamente': animal.disponibilidad === 'Proximamente'
              }"
              >{{ animal.disponibilidad }}</ion-card-subtitle
            >
          </div>

          <ion-button fill="clear" (click)="dontLike(animal.id)">
            <img
              [src]="animal.reaccion === false ? '../../../assets/icon/dislikeRojo.png' : '../../../assets/icon/dislikeNegro.png'"
              alt="No me gusta"
            />
          </ion-button>
        </div>
      </ion-card-header>
    </ion-card>

  </div>



  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="color-palette"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="globe"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
