<ion-content [fullscreen]="true">
  <div class="nav">
    <div class="search-container">
      <ion-searchbar
        color="light"
        placeholder="Buscar atracción"
        (ionInput)="filterItems($event)"
        [value]="searchTerm"
      ></ion-searchbar>
      <ion-button fill="clear" (click)="toggleQrScan()">
        <img src="../../../assets/icon/qrIcon.png" alt="Escanear QR"/>
      </ion-button>
    </div>

    <div *ngIf="isScanning">
      <zxing-scanner
        (scanSuccess)="onCodeResult($event)"
        [formats]="allowedFormats"
      ></zxing-scanner>
    </div>

    <ion-list *ngIf="filteredItems.length > 0">
      <ion-item *ngFor="let item of filteredItems" (click)="goToItem(item)">
        {{ item.nombre_comun }}
      </ion-item>
    </ion-list>

    <ion-item *ngIf="filteredItems.length === 0 && searchTerm">
      <ion-label>No se encontraron resultados</ion-label>
    </ion-item>

    <swiper-container
      [pagination]="true"
      [loop]="true"
      [autoplay]="{ delay: 3000 }"
      effect="cards"
    >
      <swiper-slide *ngFor="let imagen of imagenes">
        <img [src]="imagen" alt="Imagen de animal o planta" />
      </swiper-slide>
    </swiper-container>
    <br>

    <div class="buttons-container">
      <div class="button-item">
        <ion-button fill="clear" class="custom-button" (click)="toggleOrdenRuta()" >
          <img src="../../../assets/icon/rutaIcon.png" alt="Huella Icon" />
        </ion-button>
        <p class="button-text">Ruta sugerida</p>
      </div>

      <div class="button-item">
        <ion-button fill="clear" class="custom-button" (click)="toggleMostrarPlantas()">
          <ion-icon class="icono" [name]="mostrarPlantas ? 'paw-outline' : 'leaf-outline'"></ion-icon>
        </ion-button>
        <p class="button-text">{{ mostrarPlantas ? 'Fauna' : 'Flora' }}</p>
      </div>

      <div class="separator-text">
        <h3>Mostrar por</h3>
      </div>

      <div class="button-item">
        <ion-button fill="clear" class="custom-button">
          <img src="../../../assets/icon/huellaIcon.png" alt="Huella Icon" />
        </ion-button>
        <p class="button-text">Especie</p>
      </div>

      <div class="buttons-container">
        <div class="button-item">
          <ion-button fill="clear" class="custom-button" (click)="filterByArea()">
            <ion-icon class="icono" name="map-outline"></ion-icon>
          </ion-button>
          <p class="button-text">Área</p>
        </div>
      </div>
    </div>
  </div>

  <div class="listado-animales" *ngIf="!mostrarPlantas">
      <!-- Muestra el área seleccionada como encabezado sobre la lista de animales -->
  <div class="header-container" *ngIf="selectedArea">
    <h2>Área: {{ selectedArea }}</h2> <!-- Muestra el área actualmente seleccionada -->
  </div>
  <div class="header-container">
    <h2>Fauna</h2> <!-- Encabezado centrado de "Fauna" -->
  </div>


      <ion-card *ngFor="let animal of displayedAnimals" class="animal-card">
        <div class="image-container">
        <img
          alt="{{ animal.nombre_comun }}"
          src="{{ animal.imagen }}"
          [routerLink]="['/animal-info', animal.id]"
        />
        <div class="icono-numero">{{ animal.posicion_mapa }}</div>
      </div>
      <ion-card-header class="card-header">
        <div class="header-content">
          <ion-button fill="clear" (click)="like(animal.id)">
            <img
              [src]="animal.reaccion === true ? '../../../assets/icon/likeVerde.png' : '../../../assets/icon/likeNegro.png'"
              alt="Me gusta"
            />
          </ion-button>
          <div class="title-container">
            <ion-card-title>{{ animal.nombre_comun }}</ion-card-title>
          </div>
          <ion-button fill="clear" (click)="dontLike(animal.id)">
            <img
              [src]="animal.reaccion === false ? '../../../assets/icon/dislikeRojo.png' : '../../../assets/icon/dislikeNegro.png'"
              alt="No me gusta"
            />
          </ion-button>
        </div>
      </ion-card-header>
    </ion-card>
  </div>

  <div class="listado-animales" *ngIf="mostrarPlantas">
    <div class="header-container">
      <h2>Flora</h2>
    </div>


  <!-- Subtítulo con el área seleccionada -->
  <div class="subheader-container" *ngIf="selectedArea">
    <h3>Área: {{ selectedArea }}</h3>
  </div>



  <ion-card *ngFor="let planta of displayedPlantas" class="animal-card">
    <div class="image-container">
        <img
          alt="{{ planta.nombre_comun }}"
          src="{{ planta.imagen }}"
          [routerLink]="['/planta-info', planta.id]"
        />
        <div class="icono-numero">{{ planta.posicion_mapa }}</div>
      </div>
      <ion-card-header class="card-header">
        <div class="header-content">
          <ion-button fill="clear" (click)="likePlanta(planta.id)">
            <img
              [src]="planta.reaccion === true ? '../../../assets/icon/likeVerde.png' : '../../../assets/icon/likeNegro.png'"
              alt="Me gusta"
            />
          </ion-button>
          <div class="title-container">
            <ion-card-title>{{ planta.nombre_comun }}</ion-card-title>
          </div>
          <ion-button fill="clear" (click)="dontLikePlanta(planta.id)">
            <img
              [src]="planta.reaccion === false ? '../../../assets/icon/dislikeRojo.png' : '../../../assets/icon/dislikeNegro.png'"
              alt="No me gusta"
            />
          </ion-button>
        </div>
      </ion-card-header>
    </ion-card>
  </div>

  <!-- Infinite Scroll -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
