.animal-card {
 background-color: white;
 border-radius: 15px 15px 20px 20px; /* Bordes redondeados si es necesario */
 //background-image: url('https://cdn.discordapp.com/attachments/1275964393066336449/1294811835480014909/Diseno_sin_titulo_10.png?ex=670c5efe&is=670b0d7e&hm=564d2b7c7c4cbfef04a810dcb718c5380237cbc6d06afea7518e969147ac9181&');

}


.card-header {
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  height: 100px; /* Ajusta la altura según tus necesidades */
  background-image: url('https://i.pinimg.com/1200x/c8/03/d4/c803d481f2a4fbc75aed5a1e16b7f063.jpg');

  background-color: rgba(255, 255, 255, 0); /* Fondo transparente */
  background-size: cover; /* La imagen cubre todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* No repetir la imagen */

  display: flex; /* Permite que el contenido interno se alinee correctamente */
  align-items: center; /* Centra el contenido verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
  border-radius: 0px 0px 20px 20px; /* Bordes redondeados si es necesario */
  overflow: hidden; /* Oculta cualquier exceso de contenido */
}



.image-container {
  position: relative;
  text-align: center;
  padding: 5px;
}

.image-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.icono-numero {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff8800;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-container {
  text-align: center;
}

.estado {
  font-size: 0.85em;
}

/* Estilos para los diferentes estados de disponibilidad */
.estado-disponible {
  color: rgb(255, 255, 255);
  background-color: green;/* Texto en verde para Disponible */
}

.estado-no-disponible {
  color: rgb(255, 255, 255); /* Texto en naranjo para Tratamiento */
  background-color: rgb(255, 0, 0);/* Texto en verde para Disponible */
}

.estado-proximamente {
  color: rgb(255, 255, 255); /* Texto en amarillo para Proximamente */
  background-color: rgb(255, 238, 0);/* Texto en verde para Disponible */
}

// ion-card-subtitle{
//   background-color: white;
// }


ion-card-title {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
  font-weight: bold;
}

ion-card-subtitle {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

ion-button img {
  width: 24px;
  height: 24px;
}

ion-content {
  --background: none;
  background-image: url(./../../../assets/fondos/fondo_paginas.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}


/* Estilo para los botones debajo del carrusel */
.buttons-container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.custom-button {
  width: 150px;
  text-align: center;
  --background: #ff8800;
  --color: white;
}


swiper-container {
  --swiper-pagination-bullet-inactive-color: var(--ion-text-color-step-800, #cccccc);
  --swiper-pagination-color: var( #ffffff);
  --swiper-pagination-progressbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
  --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
  --swiper-scrollbar-drag-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
  height: 230px; /* Ajusta este valor para controlar la altura */
}




swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

}


swiper-slide img {
  width: 100%;
  height: 100%; /* Asegúrate de que la imagen ocupe toda la altura del slide */
  object-fit: cover; /* Recorta las imágenes para que cubran completamente el área del slide */
  object-position: center; /* Centra la imagen en caso de recorte */
  border-radius: 10px; /* Opcional: le da bordes redondeados a las imágenes */
}


.nav{
  background-color: #a7ca50;
  border-radius: 0 0 20px 20px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre el buscador y el ícono */
  padding: 10px; /* Espaciado interno */
  background-color: #a7ca50;
}

ion-searchbar {
  flex: 1; /* Hace que el buscador ocupe todo el espacio disponible */
}

.qr-icon {
  font-size: 32px; /* Ajusta el tamaño del ícono */
  color: #000; /* Cambia el color del ícono (puede ser blanco si lo necesitas) */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
}



