.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-toolbar {
  --background: #103116;
  --color: #fff;
}

.title-container {
  text-align: center;
}

.icono-numero {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff8800;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}

ion-card-title {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
}

ion-card-subtitle {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.9);
  padding-bottom: 5px;
  text-align: center;
}

ion-card-content {
  font-size: 2rem;
  padding: 15px;
  color: rgb(255, 255, 255);
}

.contenidoPrincipal {
  --background: none; /* Elimina el background por defecto si es necesario */
  background-image: url(./../../../assets/fondos/fondo_paginas.jpg);
  background-size: cover; /* Ajusta la imagen para cubrir completamente el modal */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 100%; /* Asegura que el fondo cubra toda la altura */
}

.custom-card {
  border-radius: 15px;
  font-family: 'Chewy', cursive;
  background-image: url(./../../../assets/fondos/fondoNi침oinfoAnimal.png);
  background-position: center;
  background-size: cover;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

ion-button img {
  width: 30px;
  height: 30px;
}

/* Fondos transparentes para elementos de la lista */
.transparent-item {
  --background: #ffffffb4 !important; /* Transparencia completa */
  --border-color: transparent !important; /* Sin bordes */
  font-size: 1rem; /* Ajuste del tama침o de texto */
  font-family: 'Work Sans', sans-serif !important; /* Fuente consistente */
  text-align: justify; /* Alineaci칩n justificada */
  // font-weight: 600 !important; /* Poner el texto en negrita */
}

/* Ajustes generales del ion-popover */
ion-popover {
  --background: transparent !important; /* Fondo transparente del popover */
  --backdrop-opacity: 0.3; /* Opacidad del fondo detr치s del popover */
}

/* Estilo de las etiquetas */
ion-label {
  color: rgb(13, 78, 0) !important; /* Asegura que el texto sea blanco */
}


