<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar class="menu">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="custom-content">
    <div class="menu-buttons">
      <div class="fondo-tiempo">
        <h5>Tiempo restante: {{ (tiempoRestante$ | async) | formatearTiempo }}</h5>
      </div>

      <button ion-button class="menu-button" [routerLink]="['/nino/inicio']">Inicio</button>
      <button ion-button class="menu-button" [routerLink]="['/nino/perfil']">Perfil</button>
      <button ion-button class="menu-button" [routerLink]="['/nino/trivia-nino']">Trivia</button>
      <button ion-button class="menu-button" [routerLink]="['/nino/recompensas']">Recompensas</button>
      <!-- <button ion-button class="menu-button" [routerLink]="['/nino/eventos']">Eventos</button> -->
    </div>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar  class="nav">

      <ion-buttons slot="start">
        <ion-menu-button class="boton"></ion-menu-button>
      </ion-buttons>

      <ion-title>{{ pageTitle }}</ion-title>

          <ion-buttons slot="end">
            <!-- Ion Back Button -->
            <ion-back-button *ngIf="!esPaginaDeInicio" defaultHref="/nino/inicio" class="boton" text=""></ion-back-button>
          </ion-buttons>

    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</div>
