<ion-content>
  <div id="zoom-container">
    <div id="zoom-content" >  <!-- Contenedor que agrupa imagen y botones -->
      <img id="zoom-image" [src]="imageUrl" alt="Mapa">
      <!-- Círculos clicables para animales -->
      <div class="animal-point" (click)="goToAnimal(1)" style="top: 47.6%; left: 6.2%;"></div>
      <div class="animal-point" (click)="goToAnimal(0)" style="top: 50.4%; left: 6.2%;"></div>
      <div class="animal-point" (click)="goToAnimal(3)" style="top: 53.2%; left: 6.2%;"></div>
      <div class="animal-point" (click)="goToAnimal(4)" style="top: 56%; left: 6.2%;"></div>
      <div class="animal-point" (click)="goToAnimal(5)" style="top: 59%; left: 6.2%;"></div>
      <div class="animal-point" (click)="goToAnimal(6)" style="top: 61.6%; left: 6.2%;"></div>
      <div class="animal-point" (click)="goToAnimal(33)" style="top: 78.3%; left: 36.5%;"></div>
    </div>
  </div>
</ion-content>
