@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

.content-bg {
  --background: none;
  background-image: url(./../../assets/fondos/fondo_paginas.jpg);
  display: flex;
  align-items: center;
}

.full-width-card {
  width: 95%;
  border-radius: 12px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
}

.custom-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

ion-title {
  display: flex;
  justify-content: center;
}

ion-card-title {
  font-family: 'Chewy', cursive;
  font-weight: bold;  /* Esto también puede ayudar a aplicar el estilo correctamente */
  color: white;
  text-align: center;
}


.top-image-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 150px; /* Altura del contenedor (ajusta según sea necesario) */
}

.small-logo {
  width: 300px; /* Controla el tamaño de la imagen */
  height: auto;
}

.full-width-card {
  width: 90%; /* Asegura que todas las cards tengan un tamaño consistente */
  max-width: 400px; /* Limita el ancho máximo */
  border-radius: 12px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Centra la card dentro del ion-content */
}

ion-content {
  display: flex;
  flex-direction: column; /* Alineación vertical */
  align-items: center; /* Centra las cards horizontalmente */
  gap: 16px; /* Espacio entre las cards */
  padding: 16px 0;
}

