<ion-content class="content-bg">
  <div class="nav">
    <!-- Logo del Bioparque -->
    <div class="top-image-container">
      <img src="../../assets/icon/logoBienvenida.png" alt="Zoo Logo" class="small-logo" />
    </div>

  </div>
  <!-- Botones principales (Bioparque, Informaciones) -->
  <div class="button-container">
    <ion-button expand="block" class="custom-button" fill="clear" (click)="reenviar()" [routerLink]="['/adulto/inicio']">
      <img src="./../../assets/fondos/image.png" alt="Bioparque" />
    </ion-button>

    <ion-button expand="block" class="custom-button" fill="clear" [routerLink]="['/informacion']">
      <img src="./../../assets/icon/infoIconHome.png" alt="Informaciones" />
    </ion-button>
  </div>
</ion-content>
