@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

.content-bg {
  --background: none;
  background-image: url(./../../assets/fondos/fondo_paginas.jpg);
}

.button-row {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.btn-search, .btn-tickets {
  --background: #2a2c41;
  color: white;
  border-radius: 20px;
  width: 45%;
}

.card-grid {
  display: flex;
  flex-direction: column;
  font-family: 'Chewy', cursive;
}

.full-width-card {
  width: 95%;
  border-radius: 12px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
}

.side-by-side-cards {
  display: flex;
}

.side-by-side-cards ion-card {
  flex: 1;
  border-radius: 12px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  height: 180px; /* Ajusta según prefieras el tamaño de las tarjetas */
  width: 200px;
}

.custom-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

ion-card-title {
  font-family: 'Chewy', cursive;
  font-weight: bold;  /* Esto también puede ayudar a aplicar el estilo correctamente */
  color: white;
  text-align: center;
}

ion-toolbar {
  --background: #2a2c41;
}

ion-card .custom-card ion-card-title {
  font-family: 'Chewy', cursive;
}

ion-icon {
  color: white;
}

.invisible {
  visibility: hidden; /* La tarjeta no es visible pero mantiene su espacio reservado */
}

.fondo-cartas {
  background-color: white; /* Establece el fondo blanco */
  padding: 16px;           /* Agrega un poco de espacio interno */
  border-radius: 12px;      /* Bordes redondeados para un mejor diseño */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opcional: Añade sombra para destacar */
}
